{% macro render_field(field) %}
<!-- start macro -->
<label>{{ field.label }}</label>
{% if field.errors %}
<div>
    <ul>
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{{ field() }}
<!-- end macro -->
{% endmacro %}


{% macro render_tags(tags) %}
<!-- start macro -->
{% for tag in tags.split(',') %}
    <p class='tag-inline'><a href="{{ url_for('index', tag=tag) }}">{{ tag }}</a></p>
{% endfor %}
<!-- end macro -->
{% endmacro %}
